@page "/fetchdata"


<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>
<p>@Id</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Paterno</th>
            <th scope="col">Materno</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Persona persona in Personas)
        {
            <tr>
                <td>@persona.Nombre</td>
                <td>@persona.Paterno</td>
                <td>@persona.Materno</td>
                <td><button class="btn btn-primary">Click me</button></td>
            </tr>
        }
    </tbody>
</table>




